<!DOCTYPE html>
<html>
  <head>
    <title>TestingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="antialised bg-gray-200">
    <header class="lg:px-16">
      
    </header>
    <%= yield %>
  </body>
</html>
