<!DOCTYPE html>
<html>
  <head>
    <title>TestingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="antialised bg-gray-200">
<<<<<<< HEAD
    <header class="lg:px-16">

=======
    <header class="lg:px-16 px-6 bg-white flex flex-wrap items-center lg:py-0 py-2">
    <div class="flex-1 flex justify-between items-center">
    </div>
    
>>>>>>> da7ba6fee699bbb4b08ae98473f9d1a1c4102a3e
    </header>
    <%= yield %>
  </body>
</html>
